#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://gitee.com/Greedy_firtree/picture/raw/2f46e045dc6cded2216c19b010fe15a2eb983057/blog/wallhaven-2exg7y.png);

  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}